---
- name: "Update templates"
  template:
    src:  "{{ item.src | default((item.dest | basename ()) + '.j2')}}"
    dest: "{{ item.dest }}"
  with_items: "{{ kubelet_templates[(ansible_os_family | lower) + '_' + (ansible_architecture | lower)] }}"
  notify: "kubelet-restart"
  tags:
    - "kubelet"
- name: "Start and enable kubelet"
  systemd:
    name: "kubelet"
    state: "started"
    enabled: "yes"
    daemon_reload: "yes"
  tags:
    - "kubelet"